html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
body {
    font-size: 100%;
}
header {
    background: rgb(255, 255, 255);
    min-height: 150px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background: rgba(255, 255, 255, 0.8) !important;
}
.logo{
    width: 400px;
}
.nav-item {
    margin-left: 100px;
    font-size: 1.5rem;
}
.nav-link {
    color: #505050 !important;
}
.navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #F55C4A !important;
}
.navbar-nav .active>.nav-link{
    color: #F55C4A !important;
}
.nav-item.bouge{
    margin-right: 10px;
}
.carousel-indicators li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: #47A5DE;
}
#carouselExampleIndicators {
    min-height: 600px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.carousel-inner {
    min-height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.carousel-item{
    min-height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.carousel-item img{
    height: 600px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}
.container-fluid.news{
    padding: 0px 32px 0px 32px;
}
.imgheader{
    min-height: 285px;
    background: url(../img/header2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
}
.imgheader1{
    min-height: 285px;
    margin-bottom: 30px;
    background: url(../img/header1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
}
button.btn{
    color:  #47A5DE;
    border: 2px solid #47A5DE;
    border-radius: 49px 49px 49px 49px;
    background: transparent;
    font-weight: bold;
}
button.btn:hover{
    color: white;
    background: #47A5DE;
}
h3, h2, h1{
    color: #505050 ;
}
.imgheader1 h3{
    padding-top: 20px;
    margin-right: 30px;
}
.imgheader1 button{
    margin-right: 15px;
}
button.btn.btn2{
    color: #F55C4A;
    border: 2px solid #F55C4A;
    padding: 5px 25px 5px 25px;
}
button.btn.btn2:hover{
    background: #F55C4A;
    color: white;
}
.carousel-item > div > h2 {
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
div.carousel-caption{
    text-align: left;
    height: 80%;
}

#about{
    min-height: 81vh;
    width: 100%;
}
.about{
    min-height: 81vh !important;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centre1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

div.imgabout{
    min-height: 80%;
    width: 80%;
    background: url(../img/header1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 10px 10px;
}
.fond{
    background: #47A5DE !important;
    padding: 50px;
}
.fond h2, p{
    color: white !important;
    font-size: 1.2rem;    
}

.fond h2 {
    font-size: 2.5rem;
}
#categories{
    min-height: 50vh;
    margin-top: 50px;
}
.cate{
    min-height: 50vh;
}
.btncate{
    width: 20vw;
    height: 30vh;
    background-color: #47A5DE !important;
    box-shadow: 0 6px #357ca8;
    position: relative;
}
.btncate:hover{
    box-shadow: 0 4px #357ca8;
    top: 2px;
}
.btncate:active{
    box-shadow: 0 0 #357ca8;
    top: 6px;
}
.btncate > img{
    width: 40%;   
}
.btncate >h3{
    color: black;
}
.col-12 > h2{
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
h2 > span{
    color: #F55C4A;
}

footer{
    min-height: 30vh;
    background: #F55C4A;
}
ul.centre > li.nav-item {
    list-style-type: none !important;
}
.no{
    margin: 0;
}
.no > a {
    color: white !important;
}
.no > a:hover {
    color: #47A5DE !important;
}
.bx{
    color: white;
}
.bx:hover{
    color: #357ca8;
}
.icon{
    font-size: 50px;
    margin-left: 20px;
}
.foot{
    min-height: 30vh;
}
.bas {
    align-items: flex-end;
}
.haut{
    align-items: flex-start;
}
.copy{
    margin-left: 145px;
}
.contactDiv{
    background: #357ca8;
    border-radius: 10px 10px 10px 10px;
    padding: 50px;
}
.contactDiv > h3 {
    color: white;
}
form#contact{
    width: 60% !important;
}
.boutonformmail{
    background: #F55C4A;
    color: white;
}
.boutonformmail:hover{
    background: white;
    color: #F55C4A;
}
.form-control:focus{
    border: 1px solid #F55C4A;
}
.alert-success {
    color: #ffffff;
    background-color: #43bf5f;
    border-color: #43bf5f;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}
.alert-danger {
    color: #721c24;
    background-color: #dc3141;
    border-color: #dc3141;
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}
@media (max-width: 767px){
    .logo{
        width: 200px;
    }
    .col-12 > h2{
        font-size: 1.5rem;
    }
  .nav-link {
      font-size: 1.5rem;
  }
  .icon{
      font-size: 35px;
      margin-left: 0px;
  }
  p {
      font-size: 1rem;
  }
  .btncate >h3 {
      font-size: 0.8rem;
  }
  button.btn.btncate{
      width: 200px;
      height: 200px;
  }
  .cate{
      min-height: 30vh;
  }
  div#carouselExampleIndicators{
      height: 400px !important;
      min-height: 400px;
      margin-bottom: 35px;
  }
  .carousel-item img{
      height: 400px !important;
  }
  .copy{
    margin-left: 0px;
    justify-content: flex-start !important;
    margin-top: 20px;
}
ul.centre{
    flex-direction: column;
    width: 100%;
    margin-left: -45px !important;
}
div.col-12.col-md-4.cate.centre > a {
    width: 200px;
    
}
.nav-item{
    margin-left:10px;
}
ul.centre{
    margin: 0;
}
.carousel-item > div > h2 {
    font-size: 1.5rem;
}
.about {
    margin-bottom: 20px;
}
.none{
    display: none;
}
form#contact{
    width: 80% !important;
}
footer{
    margin-top: 40px;
}
.col-12.centre.bas{
    margin-top: 20px;
}
}

@media (max-width:1100px){
    .btncate >h3 {
        font-size: 1.5rem;
    }
    button.btn.btncate{
        width: 200px;
        height: 150px;
    }
    #categories{
        min-height: 30vh;
    }
    footer{
        margin-top: 0px;
    }
    .nav-item{
        margin-left:10px;
    }
    .copy{
        margin-left: 0px;
        justify-content: flex-start !important;
        margin-top: 20px;
    }
    #categoriesShop{
        min-height:60vh;
    }
    section#contactform{
        min-height: 60vh;
    }
    section#contactform > .container-fluid {
        min-height: 60vh;
    }
    section#contactform > .container-fluid > .row.centre {
        min-height: 60vh;
    }
}

